[submodule "Exploratory_Data_Analysis/ExData_Plotting1"]
	path = Exploratory_Data_Analysis/ExData_Plotting1
	url = https://github.com/djacheson/ExData_Plotting1
[submodule "Programming_R/Assignment2/ProgrammingAssignment2"]
	path = Programming_R/Assignment2/ProgrammingAssignment2
	url = https://github.com/djacheson/ProgrammingAssignment2.git
